:root {
  --primary: #5e6ed1;
  --primary-hover: #A5AFFB;
  --second: #3478fa;
  --second-hover: #6d9df9;
  --success: #24ca9a;
  --success-hover: #6decc8;
  --info: #46aaff;
  --info-hover: #9acefb;
  --warning: #e77a3a;
  --warning-hover: #ffac7b;
  --danger: #c11732;
  --danger-hover: #d16071;

  --font-size-h1: 3rem;     
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.875rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1.125rem;
}

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
}

html {
  font-size: 16px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  &_block {
    display: block;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.custom-line {
  border: none;
  height: 1px;
  background: #000;
  margin: 0;
  width: 50%;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}